<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Linkdb state</title>
    <style type = "text/css">
        @import "/stylesheets/jquery.dataTables.css";
        @import "/stylesheets/jquery.dataTables_themeroller.css";
    </style>
</head>
<body>
<h1>Linkdb State (realtime) <div align='right'> <a href="../">Home</a></div></h1>
<div>
    <p><h3>Link info db size: <%=linkinfodbsize%></h3></p>
    <p><h3>Rules last modify: <%=new Date(parseInt(rulelastchanged))%></h3></p>
    <p><h3>Links in queue: <%=total_linkcount%></h3></p>
    <p><h3>Links in candidate queue: <%=scheduledcount%></h3></p>
    <p><table border="1" width="100%"  class="dataTable">
        <tr bgcolor="#f5f5dc">
            <th>name</th>
            <th>count</th>
        </tr>
        <%for(var k in linkcount){%>
            <tr>
                <td><%=k%></td>
                <td><%=linkcount[k]%></td>
            </tr>
        <%}%>
    </table></p>
</div>
</body>
</html>