<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta charset="utf-8" content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>detail</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/FlexiJsonEditor/jsoneditor.css"/> 

    <script type="text/javascript" src="/javascripts/json2.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.jsoneditor.js"></script>

<script type="text/javascript">

 $(function(){
        //cookie editor
        $('#cookie').change(function() {

        var  val = $('#cookie').val();

          if (val) {
              try { jsonTest = JSON.parse(val); }
              catch (e) { alert('Error in parsing json. ' + e); }
          } else {
                  jsonTest = {};
                }
        var  opt = { 
              change: function(jsonTest) { 
                $('#cookie').val(JSON.stringify(jsonTest));
              }
          };        
          $('#cookieEditor').jsonEditor(jsonTest,opt);
        });

        //drilling rule editor
        $('#drill_rules').change(function() {

        var  val = $('#drill_rules').val();

          if (val) {
              try { jsonTest = JSON.parse(val); }
              catch (e) { alert('Error in parsing json. ' + e); }
          } else {
                  jsonTest = {};
                }
        var  opt = { 
              change: function(jsonTest) { 
                $('#drill_rules').val(JSON.stringify(jsonTest));
              }
          };        
          $('#ruleEditor').jsonEditor(jsonTest,opt);
        });

        // script editor render
        $('#script').change(function() {

          val = $('#script').val();

          if (val) {
              try { scriptJsonTest = JSON.parse(val); }
              catch (e) { alert('Error in parsing json. ' + e); }
          } else {
                  scriptJsonTest = {};
                }
          opt = { 
              change: function(scriptJsonTest) { 
                $('#script').val(JSON.stringify(scriptJsonTest));
              }
          };        
          $('#scriptEditor').jsonEditor(scriptJsonTest,opt);
        });

        //navigation rule editor render
        $('#navigate_rule').change(function() {

          var val = $('#navigate_rule').val();

          if (val) {
              try { jsonTest = JSON.parse(val); }
              catch (e) { alert('Error in parsing json. ' + e); }
          } else {
                  jsonTest = {};
                }
          var opt = { 
              change: function(jsonTest) { 
                $('#navigate_rule').val(JSON.stringify(jsonTest));
              }
          };        
          $('#naviEditor').jsonEditor(jsonTest,opt);
        }); 

        //seed editor
        $('#seed').change(function() {

        var  val = $('#seed').val();

          if (val) {
              try { jsonTest = JSON.parse(val); }
              catch (e) { alert('Error in parsing json. ' + e); }
          } else {
                  jsonTest = {};
                }
        var  opt = { 
              change: function(jsonTest) { 
                $('#seed').val(JSON.stringify(jsonTest));
              }
          };        
          $('#seedEditor').jsonEditor(jsonTest,opt);
        });

/////////////////////////////////////////////////////

        var cookie = $.parseJSON($("#cookie").val());
        var  optCookie = { 
              change: function(cookie) { 
                $('#cookie').val(JSON.stringify(cookie));
              }
          }; 

        $('#cookieEditor').jsonEditor(cookie,optCookie); 
/////////////////////////////////////////////////////

        var drillRules = $.parseJSON($("#drill_rules").val());
        var  optRule = { 
              change: function(drillRules) { 
                $('#drill_rules').val(JSON.stringify(drillRules));
              }
          }; 

        $('#ruleEditor').jsonEditor(drillRules,optRule);  

/////////////////////////////////////////////////////

           var  scriptJson = JSON.parse($("#script").val());
           alert($("#script").val());
           var   optJS = { 
                  change: function(scriptJson) { 
                    $('#script').val(JSON.stringify(scriptJson));
                  }
              };  

            $('#scriptEditor').jsonEditor(scriptJson,optJS); 

/////////////////////////////////////////////////////             

           var naviRule = JSON.parse($("#navigate_rule").val());
           alert($("#navigate_rule").val());
           var optNavi = { 
                  change: function(naviRule) { 
                    $('#navigate_rule').val(JSON.stringify(naviRule));
                  }
              };  

            $('#naviEditor').jsonEditor(naviRule,optNavi);         
 /////////////////////////////////////////////////////

        var seed = $.parseJSON($("#seed").val());
        var  optSeed = { 
              change: function(seed) { 
                $('#seed').val(JSON.stringify(seed));
              }
          }; 

        $('#seedEditor').jsonEditor(seed,optSeed); 

/////////////////////////////////////////////////////        
        $('#form').submit(function(){
          
          $('#drill_rules').val(JSON.stringify(drillRules));
          $('#scriptJson').val(JSON.stringify(scriptJson)); 
          $('#navigate_rule').val(JSON.stringify(naviRule));       
        });      

  });
</script>

</head>

<body>

<h1>Edit <%= rule.domain %></h1>

<hr><a href="/rule">Return</a>

<form method="post" action="/rule/upsert" id="form">
  <table>
    <tbody> 
      <tr>
        <th>Domain</th>
        <td><input name="domain" id="domain" value="<%=rule.domain %>" size="30" type="text"></td>
      </tr>
     <tr>
        <th>url pattern</th>
        <td><input name="url_pattern" id="url_pattern" value="<%=rule.url_pattern %>" size="30" type="text"></td>
      </tr>      
      <tr>
        <th>Alias</th>
        <td><input name="alias" id="alias" value="<%=rule.alias %>" size="20" type="text"></td>
      </tr>
      <tr>
        <th>encoding</th>
        <td> <label><input name="encoding" value="UTF8" type="radio" <%if(rule.encoding === 'UTF8'){%> checked <%}%> >UTF8</label>&nbsp;&nbsp; <label><input name="encoding" value="GB2312" type="radio" <%if(rule.encoding === 'GB2312'){%> checked <%}%>>GB2312</label> 
        </td>          
      </tr>
      <tr>
        <th>type</th>
        <td> <label><input name="type" value="branch" type="radio" <%if(rule.type === 'branch'){%> checked <%}%> >branch</label>&nbsp;&nbsp; <label><input name="type" value="node" type="radio" <%if(rule.type === 'node'){%> checked <%}%>>node</label> 
        </td>         
      </tr>      
      <tr>
        <th>Extract content<br>
        </th>
        <td> <label><input name="save_page" value="true" type="radio" <%if(rule.save_page === 'true'){%> checked <%}%> >Yes</label>&nbsp;&nbsp; <label><input name="save_page" value="false" type="radio" <%if(rule.save_page === 'false'){%> checked <%}%>>No</label> 
        </td>         
      </tr>
      <tr>
        <th>jshandle<br>
        </th>
        <td> <label><input name="jshandle" value="true" type="radio" <%if(rule.jshandle === 'true'){%> checked <%}%> >Yes</label>&nbsp;&nbsp; <label><input name="jshandle" value="false" type="radio" <%if(rule.jshandle === 'false'){%> checked <%}%>>No</label> 
        </td> 

      </tr>
      <tr>
        <th>cookie</th>
        <td> 
        <div id="cookieEditor" class="json-editor"></div>
         <div id="cookieJson">
          <textarea id="cookie" name="cookie" cols="130" rows="5"><%=rule.cookie%></textarea>
        </div>
      </tr>
      <tr>
        <th>Inject jquery</th>
        <td> <label><input name="inject_jquery" value="Y" type="radio" <%if(rule.inject_jquery === 'Y'){%> checked <%}%> >Yes</label>&nbsp;&nbsp; <label><input name="inject_jquery" value="N" type="radio" <%if(rule.inject_jquery === 'N'){%> checked <%}%>>No</label> 
        </td>                
      </tr>  
      <tr>
        <th>Load img</th>
        <td> <label><input name="load_img" value="Y" type="radio" <%if(rule.load_img === 'Y'){%> checked <%}%> >Yes</label>&nbsp;&nbsp; <label><input name="load_img" value="N" type="radio" <%if(rule.load_img === 'N'){%> checked <%}%>>No</label> 
        </td>               
      </tr> 

      <tr>
        <th>Drill rules</th>
        <td>
        <div id="ruleEditor" class="json-editor"></div>
         <div id="ruleJson">
          <textarea id="drill_rules" name="drill_rules" cols="130" rows="5"><%=rule.drill_rules%></textarea>
        </div>
        </td>      
      </tr> 

      <tr>
        <th>script</th>
        <td>
        <div id="scriptEditor" class="json-editor"></div>
         <div id="scriptJsonDiv">
          <textarea id="script" name="script" cols="130" rows="5"><%=rule.script%></textarea>
        </div>
        </td>      
      </tr> 

      <tr>
        <th>navigate rule</th>
        <td>
        <div id="naviEditor" class="json-editor"></div>
         <div id="naviJson">
          <textarea id="navigate_rule" name="navigate_rule" cols="130" rows="5"><%=rule.navigate_rule%></textarea>
        </div>
        </td>      
      </tr> 
      <tr>
        <th>stop page</th>
        <td> <input name="stoppage" id="stoppage" value="<%=rule.stoppage%>" size="30" type="text"></td>
      </tr> 
      <tr>
        <th>priority</th>
        <td> <input name="priority" id="priority" value="<%=rule.priority%>" size="30" type="text"></td> 
      </tr>  
      <tr>
        <th>weight</th>
        <td> <input name="weight" id="weight" value="<%=rule.weight%>" size="30" type="text"></td>
      </tr>  
      <tr>
        <th>schedule interval </th>
        <td> <input name="schedule_interval" id="schedule_interval" value="<%=rule.schedule_interval%>" size="30" type="text"></td>
      </tr>  
      <tr>
        <th>active</th>
        <td> <label><input name="active" value="true" type="radio" <%if(rule.active === 'true'){%> checked <%}%> >Yes</label>&nbsp;&nbsp; <label><input name="active" value="false" type="radio" <%if(rule.active === 'false'){%> checked <%}%>>No</label> </td>  
      </tr>  
	  <tr>
        <th>seed</th>
        <td> 
        <div id="seedEditor" class="json-editor"></div>
         <div id="seedJson">
          <textarea id="seed" name="seed" cols="130" rows="5"><%=rule.seed%></textarea>
        </div>
      </tr> 
      <tr>
        <th>schedule rule</th>
        <td>
        <label><input name="schedule_rule" value="FIFO" type="radio" <%if(rule.schedule_rule === 'FIFO'){%> checked <%}%> >FIFO</label>&nbsp;&nbsp; <label><input name="schedule_rule" value="LIFO" type="radio" <%if(rule.schedule_rule === 'LIFO'){%> checked <%}%>>LIFO</label>
        </td>
      </tr>
    </tbody>
  </table>
<input type="hidden" value="put" name="_method" />
<br>
<input type="submit" name="submit" id="submit" value="Submit"/>
<input type="reset" name="reset" id="reset" value="Reset"/>  
</form>
<br>
<br>
<br>
</body></html>